/* Estilos base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

.navbar {
    background-color: #2091F9;
    padding: 15px 0;
}

.navbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #fff;
    font-size: 24px;
}

.navbar-toggler {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.navbar-toggler span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}

.navbar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-item {
    margin-right: 15px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
}

.content {
    padding: 20px;
}


.popular__card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 100%;
    max-width: 400px; /* Ancho máximo para evitar que la tarjeta se expanda demasiado */
    margin: 0 auto; /* Centrar la tarjeta */
  }
  
  .popular__card img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .popular__content {
    padding: 1rem;
  }
  
  .popular__card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .popular__card__header h4 {
    margin: 0;
  }
  
  .popular__content p {
    margin: 0;
    font-size: 14px;
    color: #666;
  }
  
  .cta {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .cta:hover {
    background-color: #0056b3;
  }
  
  /* Media Query para pantallas más pequeñas */
  @media (max-width: 768px) {
    .popular__card {
      max-width: 100%; /* La tarjeta ocupa todo el ancho en pantallas pequeñas */
    }
  }
  

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .navbar-toggler {
        display: block;
    }

    .navbar-collapse {
        display: none;
    }

    .navbar-collapse.active {
        display: block;
    }

    .navbar-nav {
        flex-direction: column;
    }

    .nav-item {
        margin: 10px 0;
    }
}
